<ion-header>
  <ion-toolbar mode="ios" color="dark">
      <ion-title size="large">picBild</ion-title>
      <ion-avatar slot="end" style="height:40px; width: 40px; margin-right: 8px;" *ngIf="user">
        <img [src]="user ? user.imageUrl : 'Loading...'" (click)="presentAlertLogout()"> 
      </ion-avatar> 
  </ion-toolbar>
</ion-header>
 
<ion-content padding fullscreen>
  <ion-grid  style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-col>
        <ion-row size="12">
          <ion-col text-center size-sm="6" offset-sm="3">
              <div class="container prettyAndUgly pretty" (click)="navCtrl.navigateForward(['/list', 'pretty'])">
                <img src="/assets/img/lindo.jpg" alt="Cinque Terre">
                <div class="center">cosas lindas</div>
                <div class="center2">del edificio</div>      
              </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center size-sm="6" offset-sm="3">
              <div class="container prettyAndUgly ugly" (click)="navCtrl.navigateForward(['/list', 'ugly'])">
                <img src="/assets/img/feo.jpg" alt="Cinque Terre">
                <div class="center">cosas feas</div>
                <div class="center2" style="top: 70%!important;">del edificio</div>              
              </div>
          </ion-col>
        </ion-row>
      </ion-col>
      <!-- <ion-row>
        <ion-col text-center>
          Welcome to Dashboard!
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          Your Registered EmailID : {{userEmail}}
        </ion-col>
      </ion-row>
     -->
      
    </ion-row>
  </ion-grid>  
  
</ion-content>

<!-- <ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer> -->
