<ion-content>

  <ion-grid>    

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <!-- <h1>Bienvenidos a Anymate</h1> -->
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <div class="info">
            <p>Presiona en un numero para escuchar su pronunciacion</p>
          </div>
        </ion-item>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col size="6" *ngFor="let numero of numeros; let i = index">
        <ion-card class="card numero" [attr.color-index]="i">
          <ion-row class="info">
            <ion-col size="12" class=behind>              
              <ion-icon class="image" src="{{numero.image | translate}}"></ion-icon>
            </ion-col>
            <ion-col size="12">
              <ion-card-subtitle>{{numero.species | translate}}</ion-card-subtitle>
              <ion-card-title class="name b-line">{{numero.name | translate}}</ion-card-title>
                <ion-icon size="large" name="play-circle" (click)="playSound(numero)" *ngIf="!isPlaying || numero != activeItem"></ion-icon>
                <ion-icon size="large" name="pause-circle" (click)="togglePlayer(true)" *ngIf="isPlaying && numero == activeItem"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-card>        
      </ion-col>
    </ion-row> -->

    <div class="pins">
      <div class="pin" id="bla" text-center *ngFor="let numero of numeros; let i = index" (click)="playSound(numero, $event)" [attr.color-index]="i">
        <h1 class="num">{{i+1}}</h1>
        <p style="margin:0; text-align: center;">{{numero.name | translate}}</p>
      </div>
    </div>


    <div class="empty"></div>

  </ion-grid>

</ion-content>
